{% import 'base.html' as base %}
{{ base.render() }}
<div class="w-full h-screen flex items-center justify-center dark:text-black text-white py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8 p-10 bg-white rounded-xl shadow-md">
        <div>
            <h2 class="mt-6 text-center text-3xl font-extrabold">
                AllyChat - Register
            </h2>
        </div>
        <form class="mt-8 space-y-6" id="login-form" autocomplete="off">
            <input type="hidden" name="remember" value="true">
            <div class="rounded-md shadow-sm -space-y-px">
                <div>
                    <label for="username" class="sr-only">Username</label>
                    <input id="username" name="username" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Username" autocomplete="off">
                </div>
                <div>
                    <label for="email-address" class="sr-only">Email address</label>
                    <input id="email-address" name="email" type="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email address" autocomplete="off">
                </div>
                <div>
                    <label for="password" class="sr-only">Password</label>
                    <input id="password" name="password" type="password" required class="appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password" autocomplete="off">
                </div>
                <div>
                    <label for="password-repeat" class="sr-only">Repeat Password</label>
                    <input id="password-repeat" name="password-repeat" type="password" required class="appearance-none rounded-none rounded-b-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Repeat Password" autocomplete="off">
                </div>
            </div>

            <div>
                <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Register
                </button>
            </div>
            <div class="flex items-center justify-between">
                <div class="text-sm">
                    <a href="/auth/login" class="font-medium text-indigo-600 hover:text-indigo-500">
                        Already have an account? Login
                    </a>
                </div>
            </div>
        </form>
        <div class="mt-6">
            <div class="relative">
                <div class="absolute inset-0 flex items-center">
                    <div class="w-full border-t border-gray-300"></div>
                </div>
                <div class="relative flex justify-center text-sm">
                    <span class="px-2 bg-white text-gray-500">
                        Or continue with
                    </span>
                </div>
            </div>
            <div class="mt-6 grid grid-cols-2 gap-3">
                <div>
                    <button class="w-full flex items-center justify-center py-2 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-900 hover:bg-gray-50">
                        <span class="text-black">Login with Github</span>
                        <i class="fab fa-github px-1"></i>
                    </button>
                </div>
                <div>
                    <button class="w-full justify-center py-2 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-black hover:bg-gray-50 flex items-center">
                        <span class="text-black">Login with Google</span>
                        <i class="fab fa-google px-1"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = () => {
        // Fade in the page
        document.getElementById('content').style.opacity = 0;
        document.getElementById('content').style.animation = 'fade-in 2s';
        document.getElementById('content').style.opacity = 1;
    }

    document.getElementById('login-form').addEventListener('submit', async (e) => {
        e.preventDefault();
        const username = document.getElementById('username').value;
        const email = document.getElementById('email-address').value;
        const password = document.getElementById('password').value;
        const passwordRepeat = document.getElementById('password-repeat').value;

        const response = await fetch('/auth/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username,
                email,
                password,
                passwordRepeat
            })
        }).then(res => res.json()).then(data => {
            if (data.status === 'success') {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: `${data.message}!`
                }).then(() => {
                    var newData = JSON.parse(data.user);
                    var verifCode = newData.verificationCode;
                    if (verifCode) {
                        window.location.href = `/auth/verify-account?code=${verifCode}`;
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!'
                        });
                    }
                })
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: `${data.message}!`
                })
            }
        });
    });
</script>